.admin-approved-page {
    padding: 20px;
    min-height: 100vh;
    background-color: #f7f8fc;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.admin-approved-page h1 {
    text-align: center;
    color: #333;
    margin-bottom: 25px;
}


.admin-approved-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    margin: 15px auto;
    width: 320px;
    transition: transform 0.2s, box-shadow 0.2s;
}

.admin-approved-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0,0,0,0.15);
}

.admin-approved-card p {
    font-size: 14px;
    margin: 6px 0;
    color: #555;
}




.issue-btn {
    margin-top: 25px;
    padding: 12px 20px;
    background-color: #0f0;  
    color: #000;             
    font-weight: bold;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}


.issue-btn:hover {
    background-color: #0c0;
    transform: scale(1.05);
}

.return-book{
    height: 30px;
    background-color: #000;
    color: #0c0;
    border-radius: 6px;
}

@media (max-width: 480px) {
    .issue-btn {
        font-size: 14px;
        padding: 10px 15px;
        margin-top: 20px;
    }
}